<h1>Movie</h1>
<p>Title: <%= @movie.title %></p>
<p>Release: <%= @movie.year %></p>
<p>Plot: <%= @movie.plot %> </p>
<p>MPAA Rating: <%= @movie.mpaa_rating %></p>
<p>Favorite: <%= @movie.favorite %></p>
<p>Cast & Crew: <%= @movie.cast_members %></p>